.transition {
  background-color: green;
  color: white;
  padding: 1rem 2rem;

  transition-duration: 250ms;
  /*transition-delay: 1000ms;*/
  transition-property: scale;
  transition-timing-function: ease-in-out;
  
}
.transition:hover {
  background-color: aqua;
  color: yellowgreen;
  scale: 1.1;
}

.transition:active {
  background-color: blueviolet;
  scale: 0.9;
}


.hover-scale {
  transition: all 100ms ease-in-out;
}

.hover-scale:hover {
  scale: 1.03;
}

.animation-container {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: tomato;
  border-radius: 10px;
  margin: auto;

  animation-name: bouncing;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

@keyframes bouncing {
  0% {
    transform: translateY(0px);

  }  
  95% {
    transform: translateY(80px);
    height: 20px;
  }

  100% {
    transform: translateY(85px);    
    height: 15px;
  }
}

.slidin-right {

}

.slidin-left {
  animation-name: slidin-left;
  animation-duration: 1000ms;
  --from-offset: -100vw;
}

@keyframes slidin-left {
  0% {
    transform: translateX(var(--from-offset));
  }

}  
  