.Transition {
  background-color: green;
  color: white;
  padding: 1rem 2rem;

  transition-duration: 250ms;
  /*transition-delay: 1000ms;*/
  transition-property: scale;
  transition-timing-function: ease-in-out;
  
}
.Transition:hover {
  background-color: aqua;
  color: yellowgreen;
  scale: 1.1;
}

.transition:active {
  background-color: blueviolet;
  scale: 0.9;
}


.hover-scale {
  transition: all 100ms ease-in-out;
}

.hover-scale:hover {
  scale: 1.03;
}