.transition {
  background-color: green;
  color: white;
  padding: 1rem 2rem;

  transition-duration: 250ms;
  /*transition-delay: 1000ms;*/
  transition-property: scale;
  transition-timing-function: ease-in-out;
  
}
.transition:hover {
  background-color: aqua;
  color: yellowgreen;
  scale: 1.1;
}

.transition:active {
  background-color: blueviolet;
  scale: 0.9;
}


.hover-scale {
  transition: all 100ms ease-in-out;
}

.hover-scale:hover {
  scale: 1.03;
}

.animation-container {
  width: 100px;
  height: 100px;
  background-color: cadetblue;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: tomato;
  border-radius: 10px;
  margin: auto;

  animation-name: bouncing;
  animation-duration: 1.5s;
  animation-iteration-count: infinite; 
}

@keyframes bouncing {
  0% {
    transform: translateY(0px);

  }  
  100% {
    transform: translateY(80px);    
  }
}



